In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
import pandas as pd
import numpy as np

In [3]:
datasets_path = '/Users/kuptservol/.datasets/kaggle'

In [77]:
! kaggle competitions download -c dmia-production-ml-2021-1-passwords -p {datasets_path}

dmia-production-ml-2021-1-passwords.zip: Skipping, found more recently modified local copy (use --force to force download)

In [4]:
data_path = datasets_path + '/dmia-production-ml-2021-1-passwords'

In [ ]:
! mkdir {data_path}

In [ ]:
! unzip {data_path}/dmia-production-ml-2021-1-passwords.zip -d {data_path}

In [ ]:
! ls {data_path}

In [13]:
train_df = pd.read_csv('/Users/kuptservol/.datasets/kaggle/dmia-production-ml-2021-1-passwords/train.csv/train.csv')

In [14]:
train_df.head(10)

        Password  Times
0  631XniVx2lS5I      2
1       LEGIT747      1
2       742364es      1
3     3846696477      1
4       laurahop      2
5        130185m      1
6       EzjNQB5j      1
7        mez2288      1
8       distopia      1
9      05031995m      1

In [15]:
train_df.sort_values(by='Times', ascending=False).head(10)

          Password  Times
2715397     123456  55893
3136279     qwerty  13137
1175081  123456789  11696
2363307      12345  10938
2988373       1234   6432
2307329     111111   5682
3348280    1234567   4796
1795496     dragon   3927
3336606     123123   3845
3798071   baseball   3565

In [16]:
def words_to_char(inputs):
    characters=[]
    for i in inputs:
        characters.append(i)
    return characters

In [17]:
len(train_df)

4151496

In [18]:
train_df.fillna('', inplace=True)

In [19]:
len(train_df)

4151496

In [39]:
X = train_df['Password']

In [40]:
y = train_df['Times']

In [41]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(tokenizer=words_to_char)
X = vectorizer.fit_transform(X)

In [42]:
X.shape

(4151496, 71)

In [ ]:
def to_features():
#     get me from remote

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [45]:
from sklearn.linear_model import LinearRegression

In [46]:
lr = LinearRegression()

In [47]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [48]:
from sklearn.metrics import mean_squared_log_error

In [49]:
def convert(predicted):
    return list(map(lambda x: int(abs(x)), predicted))

In [50]:
mean_squared_log_error(convert(lr.predict(X_test)), y_test)

0.2340951293331427

In [51]:
from sklearn.linear_model import LassoCV

In [52]:
alphas = np.arange(1, 100, 10)
lin_reg = LassoCV(alphas=alphas, cv=3)
lin_reg.fit(X_train, y_train)

LassoCV(alphas=array([ 1, 11, 21, 31, 41, 51, 61, 71, 81, 91]), copy_X=True,
        cv=3, eps=0.001, fit_intercept=True, max_iter=1000, n_alphas=100,
        n_jobs=None, normalize=False, positive=False, precompute='auto',
        random_state=None, selection='cyclic', tol=0.0001, verbose=False)

In [53]:
mean_squared_log_error(convert(lin_reg.predict(X_test)), y_test)

0.18027505056485288

In [55]:
print(lin_reg.coef_)

[-0. -0.  0. -0. -0. -0. -0. -0. -0. -0. -0. -0. -0. -0. -0. -0. -0. -0.
  0.  0. -0. -0. -0. -0. -0. -0. -0.  0. -0. -0. -0. -0. -0. -0. -0. -0.
 -0. -0. -0. -0. -0. -0. -0. -0. -0.  0. -0. -0. -0.  0. -0. -0.  0. -0.
  0.  0. -0. -0.  0.  0.  0. -0. -0. -0. -0. -0. -0. -0. -0. -0. -0.]

## Lin reg on grid search

In [56]:
from sklearn.pipeline import Pipeline

In [57]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [58]:
from sklearn import linear_model
regressor = linear_model.SGDRegressor()

In [59]:
pipeline = Pipeline(steps = [('scaling', scaler), ('regression', regressor)])

In [60]:
pipeline.get_params().keys()

dict_keys(['memory', 'steps', 'verbose', 'scaling', 'regression', 'scaling__copy', 'scaling__with_mean', 'scaling__with_std', 'regression__alpha', 'regression__average', 'regression__early_stopping', 'regression__epsilon', 'regression__eta0', 'regression__fit_intercept', 'regression__l1_ratio', 'regression__learning_rate', 'regression__loss', 'regression__max_iter', 'regression__n_iter_no_change', 'regression__penalty', 'regression__power_t', 'regression__random_state', 'regression__shuffle', 'regression__tol', 'regression__validation_fraction', 'regression__verbose', 'regression__warm_start'])

In [62]:
parameters_grid = {
    'regression__loss' : ['huber', 'epsilon_insensitive', 'squared_loss', 'mean_squared_log_error'],
    'regression__max_iter' : [3, 5, 10, 50], 
    'regression__penalty' : ['l1', 'l2', 'none'],
    'regression__alpha' : [0.0001, 0.01],
    'scaling__with_mean' : [0., 0.5],
}

In [65]:
from sklearn import model_selection

In [84]:
grid_cv = model_selection.GridSearchCV(pipeline, parameters_grid, scoring = 'neg_mean_squared_error', cv = 4)

In [85]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
%%time
grid_cv.fit(X_train, y_train)

## RandomForestRegressor

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
rf = RandomForestRegressor()

In [ ]:
rf.fit(X_train, y_train)

In [ ]:
mean_squared_log_error(convert(rf.predict(X_test)), y_test)

In [25]:
submission = pd.read_csv('/Users/kuptservol/.datasets/kaggle/dmia-production-ml-2021-1-passwords/sample_submission.csv/sample_submission.csv')

In [29]:
test_df = pd.read_csv('/Users/kuptservol/.datasets/kaggle/dmia-production-ml-2021-1-passwords/Xtest.csv/Xtest.csv')

In [26]:
submission.head()

   Id     Times
0   0  1.922133
1   1  1.922133
2   2  1.922133
3   3  1.922133
4   4  1.922133

In [30]:
test_df.head()

   Id    Password
0   0  ThaisCunha
1   1   697775113
2   2  922a16922a
3   3      andy74
4   4     joemack

In [34]:
test_df['Password'].isna().sum()

1

In [37]:
test_df.fillna('1111',inplace=True)

In [72]:
X_subm = vectorizer.transform(test_df['Password'])

In [66]:
test_preds = lin_reg.predict(X_subm)

In [67]:
test_preds = convert(test_preds)

In [68]:
submission['Times'] = test_preds

In [69]:
submission['Times'].head()

0    1
1    1
2    1
3    1
4    1
Name: Times, dtype: int64

In [70]:
submission.to_csv(data_path+"/submission.csv",index=False)

In [71]:
! kaggle competitions submit dmia-production-ml-2021-1-passwords -f {data_path}'/submission.csv' -m "My submission"

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.8)
100%|██████████████████████████████████████| 8.84M/8.84M [00:04<00:00, 1.89MB/s]
Successfully submitted to DMIA.ProductionML 2021.1 Password complexity